[submodule "recipe-me-bedrock"]
	path = recipe-me-bedrock
	url = git@github.com:airmax-pro/recipe-me-bedrock.git
	branch = main
[submodule "recipe-me-sage"]
	path = recipe-me-sage
	url = git@github.com:airmax-pro/recipe-me-sage.git
	branch = main
